.--question-container{
    text-align:center;
    padding-bottom:20px;
    border-bottom:1px solid #D6DBF5;
}

.--question-question{
    font-weight:bold;
    font-size:1.2rem;
    color:#293264;
}

.--question-choices-container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}